*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
.container{
    width: 80%;
    margin: auto;
}
 section{
     margin-top: 50px;
 }
 .tittle{
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    letter-spacing: 9.5px;
    word-spacing: 14px;

 }

form{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: fit-content;
    border-radius: 5px;
}
input{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
}
button{   
    border:none; 
    padding: 10px; 
    font-weight: 700; 
    background-color: green;
}
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
    text-align: center;  
}
p{
    font-family: 'Merriweather', serif;
}

.search-result{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 20pxpx;
    margin-top: 10px;
    color: rgb(228, 150, 228);
}
.meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:35px;
    margin-top: 20px;
}
.meal{
    cursor: pointer;
    position: relative;
    height: 285px;
    width: 272px;
    text-align: center;
    background-color: lightgray;
    padding: 2px;
    padding-top: 8px;
    border-radius: 8px;
}
.meals img{
    height: 90%;
    width: 95%;
    border-radius: 5px;
     
}
#meal-details{
    text-align: center;
    margin-top: 10px;
    line-height: 30px;

}
#meal-details img{
    width: 300px;
    width: 300px;
    border-radius: 5px;
}
#meal-details h1{
    margin-top: 10px;
    font-family: 50px;
}
span{
    background-color: dimgray;
     font-weight: 700;
}
hr{   
border: dotted #87cfcf 6px;
border-bottom: none;
width: 4%;
margin: 50px auto;
}